!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery-ui/jquery.ui.core.js')
    script(src='/javascripts/jquery-ui/jquery.ui.widget.js')
    script(src='/javascripts/jquery-ui/jquery.ui.mouse.js')
    script(src='/javascripts/jquery-ui/jquery.ui.sortable.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/backbone-min.js')
    script(src='/javascripts/bootstrap.js')    
    script(src='/javascripts/bootstrap-dropdown.js')    
    script(src='/javascripts/data.js')
  body!=body