<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a>
			<div class="brand"></div>
			<div class="btn-group pull-right">
				<a class="btn-mini dropdown-toggle" data-toggle="dropdown" href="/dologout">Sign Out</a>
			</div>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active">
						<a href="#">Roster</a>
					</li>
					<li>
						<a href="/rotor">Rotor</a>
					</li>
					<li>
						<a href="/reports">Reports</a>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>
<div id="loaddiv"><img src='/images/loading.gif' /></div>
<div style="float:left; margin-left: 1%; margin-bottom: 1em; width: 23.076923077%;"><div id="actiondiv" style="display:none; "><button id="btn_unavailall" class="btn btn-danger"><i class="icon-refresh icon-white"></i>Unavailable All</button></div><div id="unavaillist" class="row-fluid"></div></div>
<div id="list" style="width: 57%; float: left;" class="row-fluid"></div><div id="portal" style="width: 18%; float: left;"></div><div style="clear:both; line-height: 0;"></div>