<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a>
			<div class="brand"></div>
			<div class="btn-group pull-right">
				<a class="btn-mini dropdown-toggle active" data-toggle="dropdown" href="/user">Admin</a>				
				<a class="btn-mini dropdown-toggle" data-toggle="dropdown" href="/dologout">Sign Out</a>
			</div>
			<div class="nav-collapse">
				<ul class="nav">
					<li>
						<a href="/roster">Roster</a>
					</li>
					<li>
						<a href="/rotor">Rotor</a>
					</li>
					<li>
						<a href="/reports">Reports</a>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div><div id="loaddiv"><img src='/images/loading.gif' /></div>
<div id="userlist" style="width:810px; padding-left:2em;"></div>
<div id="createuser"></div>
<div id="edituser"></div>